.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cell {
  width: 20%;
  height: 20%;
  background: grey;
  border: rgb(206, 152, 152) 1px solid;
  box-sizing: border-box;
}

.gridContainer {
  width: 40vw;
  height: 40vw;
  border: 10px solid black;
  background: black;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 1px 155px 120px rgba(29, 25, 25, 0.97);
}

